/* apply a natural box layout model to all elements */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* General */
body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

h1{
    font-size: 24px;
    font-weight: normal;
    padding: 1em 0 0.5em;
    text-align: center;
}

h3{
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
    padding: 0 0 1em;
    text-align: center;
}

p {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 25px; /* Adds space between images */
}

.image-container img {
    width: 200px; /* Adjust size as needed */
    height: auto;
    border-radius: 8px; /* Optional: rounded corners */
}

.artist-container, p{
    display: flex;
    align-items: center;  /* Vertically centers the content */
    gap: 20px;            /* Adds space between image and text */
    justify-content: flex-start; /* Aligns the items to the left */
    margin-top: 20px;      /* Adjusts the space above the container */
    text-align: right;
    text-wrap: balance;
    margin-right: 30px;
}

.artist-image {
    width: 250px;         /* Adjust the width as needed */
    height: auto;
    border-radius: 5px;   /* Optional: makes the image circular */
    display: block;
}

.artist-info {
    max-width: 600px;      /* Limits the text width */
}

/* Bottom Nav */
.et-hero-tabs,
.et-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #eee;
		text-align: center;
		padding: 0 2em;
    h1 {
        font-size: 2rem;
        margin: 0;
        letter-spacing: 1rem;
    }
    h3 {
        font-size: 1rem;
        letter-spacing: 0.3rem;
        opacity: 0.6;
    }
}

.et-hero-tabs-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    z-index: 10;
    &--top {
        position: fixed;
        top: 0;
    }
}

.et-hero-tab {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
		transition: all 0.5s ease;
		font-size: 0.8rem;
	    &:hover {
			color:white;
        background: rgba(70, 70, 70, 0.8);
			transition: all 0.5s ease;
    }
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
main {
    transition: margin-left .5s;
    padding: 0;
}

/* Media queries */
